$textColor: #333333;
$green: #00BF78;
$linkColor: #278AFF;
$orange: #FB9475;
$lightGray: #F8F6F7;

@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@mixin rounded($width, $height) {
  width: $width;
  height: $height;
  border-radius: $height / 2;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: $textColor;
  outline: none;

  h2 {
    margin-top: 0;
    margin-bottom: 32px;

    font-weight: bold;
    font-size: 48px;
  }

  section {
    margin-top: 100px;
    padding-left: 165px;
    padding-right: 165px;
  }

  button {
    background: $orange;
    color: white;
    border: none;

    cursor:pointer;

    &:hover {
      background: $green;
    }

    &:active {
      transform: scale(0.9);
      transition: 0.1s;
    }
  }

  a {
    color: $linkColor;
  }

  a, button:active, button:focus {
    outline: none;
  }
}

.navigation {
  a, {
    outline: none;
  }

  a {
    color: $textColor;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 28px;

      &:last-child {
        margin-right: 0;
      }

      a:visited {
        color: $textColor;
      }

      a:hover {
        color: $green;
        transition: 0.1s;
      }
    }
  }

  a {
    text-decoration: none;
  }
}

.photo-item {
  display: flex;
  justify-content: stretch;

  background-repeat: no-repeat;
  border: none;
  border-radius: 8px;
  overflow: hidden;

  .hover {
    display: flex;
    justify-content: center;

    width: 100%;
    color: white;
    background: rgba(black, 0.4);

    text-decoration: none;
    cursor: pointer;

    opacity: 0;
    transition: 0.2s;

    &:hover {
      opacity: 1;
    }

    .label {
      align-self: center;

      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
    }
  }
}

.header {
  background-image: url("../images/header_background.svg");

  padding-left: 165px;
  padding-top: 30px;
  padding-right: 165px;

  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  &__logo {
    grid-column: span 2;
    align-self: center;
    justify-self: flex-start;

    text-decoration: none;

    font-weight: bold;
    font-size: 24px;

    &:hover, &:visited {
      color: $textColor;
    }
  }

  .navigation {
    grid-column: span 8;
    align-self: center;
    justify-self: center;

    font-weight: 500;
    font-size: 14px;
  }

  &__phone {
    grid-column: span 2;
    align-self: center;
    justify-self: flex-end;

    font-weight: 500;
    font-size: 18px;
    line-height: 14px;
  }

  &__schedule {
    grid-column: span 12;
    align-self: center;
    justify-self: flex-end;

    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
  }

  &__sign-up {
    grid-column: span 4;
    align-self: center;
    justify-self: flex-start;

    h2 {
      margin-bottom: 16px;
      width: 500px;
      font-weight: 600;
      font-size: 48px;
      line-height: 59px;
    }

    &__text {
      margin-bottom: 60px;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
    }

    button {
      @include rounded(203px, 48px);

        font-weight: 500;
        font-size: 14px;
    }
  }

  &__image {
    grid-column: span 7;
    justify-self: flex-end;

    position: relative;
    width: 524px;
    height: 510px;
    overflow: hidden;

    &__girl {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("../images/girl.svg");
      background-repeat: no-repeat;
      z-index: 1;
    }

    &__ellipse {
      position: relative;

      width: 472px;
      height: 472px;
      top: 148px;
      left: 49px;

      background: $orange;
      border-radius: 50%;
      z-index: 0;
    }
  }

  &__media {
    align-self: center;
    justify-self: flex-end;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }

        a:hover {
          img {
            transform: scale(1.2);
            transition: 0.1s;
          }
        }
      }
    }
  }
}

.about {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px 0;
    justify-content: flex-start;
  }

  &__description {
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
  }

  &__video {
    grid-row: span 3;
    justify-self: flex-end;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../images/video.png");
    background-repeat: no-repeat;

    width: 443px;
    height: 295px;

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__label {
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;

      color: white;
    }

    &__play {
      &:hover {
        transform: scale(1.2);
        transition: 0.1s;
      }
    }
  }

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
  }

  &__expand {
    align-self: flex-end;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    color: $linkColor;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.advantages {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
      width: 48px;
      height: 48px;
    }

    &__title {
      font-weight: 600;
      font-size: 18px;

      margin-top: 22px;
      margin-bottom: 12px;
    }

    &__text {
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
    }
  }
}

.popular {
  .container {
    display: grid;
    grid-gap: 48px 30px;
    grid-template-columns: 350px 350px 350px;
    justify-content: space-between;
  }

  h2 {
    margin-bottom: 35px;
    font-size: 36px;
  }

  &__item {
    width: 350px;

    &__image {
      margin-bottom: 20px;
    }

    &__title {
      font-weight: 600;
      font-size: 18px;

      margin-bottom: 8px;
    }

    &__text {
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;

      margin-bottom: 16px;
    }

    button {
      @include rounded(112px, 34px);

      font-weight: 500;
      font-size: 12px;
    }
  }
}

.prices {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 32px;
  }

  &__tabs {
    margin-bottom: 51px;

    &__tab {
      display: inline-block;

      label {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        margin-right: 28px;
        padding-bottom: 2px;

        cursor: pointer;
      }

      &:last-child {
        margin-right: 0;
      }

      label:hover {
        color: $green;
      }

      input[type=radio] {
        display: none;
      }


      input[type=radio]:checked + label {
        color: $green;
        border-bottom: 2px solid $green;
      }
    }
  }

  &__item {
    width: 444px;
    height: 51px;

    &__service {
      display: flex;
      justify-content: space-between;

      margin-bottom: 8px;

      &__title {
        font-weight: 500;
        font-size: 18px;
      }

      &__price {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;

        color: $green
      }
    }

    &__description {
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
    }
  }
}

.staff {
  padding-top: 80px;
  padding-bottom: 80px;

  background: $lightGray;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .photo-item {
    width: 255px;
    height: 300px;
  }

  &__text {
    margin-bottom: 24px;

    font-weight: normal;
    font-size: 16px;
  }

  &__item {
    &__name {
      margin-top: 20px;

      font-weight: 600;
      font-size: 18px;
    }

    &__position {
      margin-top: 8px;

      font-weight: normal;
      font-size: 14px;
    }

    &__experience {
      margin-top: 20px;

      font-weight: 300;
      font-size: 12px;

      text-transform: uppercase;
    }
  }
}

.portfolio {
  .carousel {
    display: grid;
    grid-row-gap: 50px;

    margin-top: -64px;

    &__paginator {
      display: flex;
      justify-self: end;
      justify-content: space-between;

      width: 96px;

      button {
        @include rounded(40px, 40px);

        background-color: transparent;

        &:hover {
          background-color: $lightGray;
        }
      }
    }

    &__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 29px;
      justify-self: center;

      margin-left: -165px;
      margin-right: -165px;
    }
  }

  .photo-item {
    width: 338px;
    height: 338px;

    .label {
      display: flex;
      flex-direction: column;

      .icon {
        margin-bottom: 8px;
      }
    }

    &:hover {
      transform: scale(1.1);
    }

    transition: 0.2s;
  }
}

.brands {
  display: flex;
  flex-direction: column;

  &__text {
    margin-bottom: 40px;

    font-weight: normal;
    font-size: 16px;
    text-align: center;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  img {
    opacity: 0.3;
  }
}

.footer {
  padding: 20px 165px;

  font-weight: normal;
  font-size: 12px;

  .container {
    display: grid;
    grid-row-gap: 8px;
    grid-template-columns: repeat(2, 1fr);
  }

  .navigation {
    grid-row: span 2;
    align-self: center;
    justify-self: flex-end;

    font-weight: normal;
    font-size: 12px;
  }
}
