$textColor: #333333;
$highlightColor: #00BF78;
$linkColor: #278AFF;
$orange: #FB9475;

@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: $textColor;
  outline: none;
}

.header {
  background-image: url("../images/header_background.svg");

  padding-left: 165px;
  padding-top: 30px;
  padding-right: 165px;

  a, button:active, button:focus {
    outline: none;
  }

  a {
    color: $textColor;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  &__logo {
    grid-column: span 2;
    align-self: center;
    justify-self: flex-start;

    text-decoration: none;

    font-weight: bold;
    font-size: 24px;

    &:hover, &:visited {
      color: $textColor;
    }
  }

  &__navigation {
    grid-column: span 8;
    align-self: center;
    justify-self: center;

    ul {
      list-style: none;
      padding: 0;
      margin: 2px;

      font-weight: 500;
      font-size: 14px;
      line-height: 17px;

      li {
        display: inline-block;
        margin-right: 28px;

        &:last-child {
          margin-right: 0;
        }

        a:visited {
          color: $textColor;
        }

        a:hover {
          color: $highlightColor;
          transition: 0.1s;
        }
      }
    }

    a {
      text-decoration: none;
    }
  }

  &__phone {
    grid-column: span 2;
    align-self: center;
    justify-self: flex-end;

    font-weight: 500;
    font-size: 18px;
    line-height: 14px;
  }

  &__schedule {
    grid-column: span 12;
    align-self: center;
    justify-self: flex-end;

    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
  }

  &__sign_up {
    grid-column: span 4;
    align-self: center;
    justify-self: flex-start;

    h1 {
      margin: 0 0 16px 0;
      width: 500px;
      font-weight: 600;
      font-size: 48px;
      line-height: 59px;
    }

    h2 {
      margin: 0 0 60px 0;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
    }

    button {
      width: 203px;
      height: 48px;

      background: $orange;
      color: white;
      border: none;
      border-radius: 24px;

      font-weight: 500;
      font-size: 14px;

      cursor:pointer;

      &:hover {
        background: $highlightColor;
      }

      &:active {
        transform: scale(0.9);
        transition: 0.1s;
      }
    }
  }

  &__image {
    grid-column: span 7;
    justify-self: flex-end;

    position: relative;
    width: 524px;
    height: 510px;
    overflow: hidden;

    &__girl {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("../images/girl.svg");
      background-repeat: no-repeat;
      z-index: 1;
    }

    &__ellipse {
      position: relative;

      width: 472px;
      height: 472px;
      top: 148px;
      left: 49px;

      background: $orange;
      border-radius: 50%;
      z-index: 0;
    }
  }

  &__media {
    align-self: center;
    justify-self: flex-end;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }

        a:hover {
          img {
            transform: scale(1.2);
            transition: 0.1s;
          }
        }
      }
    }
  }
}

section {
  padding-left: 165px;
  padding-top: 100px;
  padding-right: 165px;
}

.about {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px 0;
    justify-content: flex-start;
  }

  &__title {
    grid-column: span 2;

    margin-top: 0;
    margin-bottom: 16px;

    font-weight: bold;
    font-size: 48px;
  }

  &__description {
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
  }

  &__video {
    grid-row: span 3;
    justify-self: flex-end;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../images/video.png");
    background-repeat: no-repeat;

    width: 443px;
    height: 295px;

    &__container {
      display: flex;
      flex-direction: column;
    }

    &__label {
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;

      color: white;
    }

    &__play {
      &:hover {
        transform: scale(1.2);
        transition: 0.1s;
      }
    }
  }

  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
  }

  &__expand {
    align-self: flex-end;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    color: $linkColor;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
